body{
    text-align: center;
}

.btn{
    height: 150px;
    width: 150px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.red{
    background-color: #d95980;
}

.yellow{
    background-color: #f99b45;
}

.green{
    background-color: #7fcbe2;
}

.purple{
    background-color: #4067dc;
}

.flash{
    background-color: white;
}

.userflash{
    background-color: hreen;
}